body {
	background-color: black;
	color: white;
}

#clockField {
	font-size: 600%;
}

.station-names {
	font-size: 375%;
}

.left-padding {
	padding-left: 99px;
}

.bus-rows {
	background-color: #00A1DE;
	margin-right: 55px;
	margin-bottom: 15px;
}

.bottom-margin {
	margin-bottom: 0px;
} 

.top-margin {
	margin-top: 0px;
}

.train-rows {
	background-color: #C60C30;
	margin-right: 55px;
}

.lower-spacer {
	margin-bottom: 80px;
}

.upper-spacer {
	margin-top: 25px;
}

h1 {
	font-size: 350%;
}

